// Copyright 2013 The Servo Project Developers. See the COPYRIGHT
// file at the top-level directory of this distribution.
//
// Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
// http://www.apache.org/licenses/LICENSE-2.0> or the MIT license
// <LICENSE-MIT or http://opensource.org/licenses/MIT>, at your
// option. This file may not be copied, modified, or distributed
// except according to those terms.

#[link(name = "cocoa",
       vers = "0.1",
       uuid = "5b7b7262-780d-465d-892c-15eab956dedc",
       url = "http://github.com/pcwalton/cocoa")];

#[comment = "The Servo Parallel Browser Project"];
#[license = "MIT"];
#[crate_type = "lib"];

#[feature(globs)];

extern mod std;

pub mod appkit;
pub mod base;
pub mod foundation;

