#[link(name = "core_foundation",
       vers = "0.1")];
#[crate_type = "lib"];

extern mod std;

pub mod array;
pub mod base;
pub mod boolean;
pub mod data;
pub mod dictionary;
pub mod number;
pub mod string;
pub mod test;
pub mod url;
