#[link(name = "core_text",
       vers = "0.1")];
#[crate_type = "lib"];

extern mod std;

extern mod core_foundation;
extern mod core_graphics;

pub mod font;
pub mod font_descriptor;
pub mod font_manager;
