name: Rust

on:
  push:
    branches: [master]
  pull_request:
    branches: ["**"]
  merge_group:
    types: [checks_requested]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - run: cargo fmt --check
  semver:
    runs-on: macos-11.0
    steps:
    - uses: actions/checkout@v2
    - name: Check semver
      uses: obi1kenobi/cargo-semver-checks-action@v2
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11.0, macos-12, macos-13]
        toolchain: [stable, 1.56.1]
    steps:
    - uses: actions/checkout@v2
    - name: Install toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.toolchain }}
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  build_result:
    name: Result
    runs-on: ubuntu-latest
    needs:
      - "build"
      - "semver"
    steps:
      - name: Mark the job as successful
        run: exit 0
        if: success()
      - name: Mark the job as unsuccessful
        run: exit 1
        if: "!success()"
